* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:sans-serif;
}


/* NAVIGATION & LOGO  */

.logo-bar {
  background-color: black;
  display: flex;
  justify-content: center;
}

.logo-bar img {
  padding-top: 30px;
  padding-bottom: 30px;
}

nav {
  background-color: rgb(210, 210, 210);
  display: flex;
  justify-content:space-between;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  
  
}

a {
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

.item1 {
  padding-left: 100px;
}


.item3 {
  padding-right: 100px;
}

/* SECTIONS */

/* SECTION 1 */

.thirst {
  background-color: rgb(63, 63, 63);
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 50px;
  margin: 0;
}

.thirst_text {
  color: white;
}

.thirst_info {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}

.check-me {
  background-color: rgb(255, 115, 0);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

/* SECTION 2  */

.quencher-types {
  display: flex;
  justify-content: center;
}

.types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

h2 {
  margin: 0;
}

p {
  color: black;
}

.types_images {
  width: 100%;
  height: auto;
}

button {
  background-color: rgb(255, 115, 0);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}



